<div>
  {{#each pets}}
    <div style="margin: 5%;">
      <a href="/pets/{{id}}">
        <img class="u-max-full-width" src="{{image}}" alt="{{name}}">
      </a>
    </div>
  {{/each}}
</div>

<div>
  <a href="/new">
    <button class="button">
      Put animal up for adoption
    </button>
  </a>
</div>
