<h1>give us yer pets</h1>

<div>
  <form method="POST" action="/new">
    <label for="name">Pet's name: </label>
    <input type="text" name="name" id="name" required>

    <label for="species">Species: </label>
    <input type="text" name="species" id="species" required>

    <label for="breed">Breed: </label>
    <input type="text" name="breed" id="=breed">

    <label for="sex">Sex: </label>
    <input type="text" name="sex" id="=sex">

    <label for="age">Age: </label>
    <input type="text" name="age" id="=age">

    <label for="likes">Likes: </label>
    <input type="text" name="likes" id="likes">

    <label for="backstory">Backstory: </label>
    <input type="text" name="backstory">

    <br>

    <button>Submit</button>
  </form>
</div>