img {
  display: block;
  margin: 0 auto;
  text-align: center;
  object-fit: cover;
  width: 70%;
  height: 500px;
}

body{
  font-family: 'Ubuntu', serif;
  color: black;
}
/* .containerFlex {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
} */

button {
  align-self: center;
}

.img-landing {
  width: 100%;
}