img {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* .containerFlex {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
} */

button {
  align-self: center;
}